html {
  -webkit-text-size-adjust: 100%;
  display: block;
}

body {
      line-height: 1.3;
      display: block;
}

.flex {
    flex-wrap: wrap;

}

.flex:afer {
  content:'';
 width:100%;
 order:0;
}
.adapt_text_team {
  font-size: 30px;
}
.adapt_text_team1 {
  font-size: 24px;
}
@media (min-width: 1240px) and (max-width: 1579px) {
  .menudivider2 {
    max-width: 40%
  }
  .group-fourth {
    max-width: 500px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: scale(1.1);
}
.content-block-fourth {
    padding: 2em 0.5em 2em 0.5em;
    margin-bottom: 2em;
}
.splide__slide p:nth-child(1){font-size: 18px;}
.splide__slide p:nth-child(3){font-size: 18px;}
.splide__slide p:nth-child(2){font-size: 18px;}
.splide__slide p:nth-child(4), .splide__slide p:nth-child(5){font-size: 16px;}

}

@media (max-width: 1239px) {

  .menudivider2 {
    max-width: 50%
  }
  .third-section .group3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .group3 .additional-group:nth-child(2){
    display: grid;
    grid-template-rows: 385px 1fr;
  }
  .group-fourth {
    max-width: 500px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: scale(1.1);
  }
  .content-block-fourth {
  padding:2em 0.5em 2em 0.5em;
  margin-bottom: 2em;
  }

  .content-block-third{
    padding: 4em 1em 2em 1.5em;
  }

  .splide__slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 5em;
  }
  .splide__slide img{
    max-height: 100%;
  }
}

@media (max-width: 1275px) {
  .road-group:before {
      width: 51%;
      left: 102%;
  }
  .road-group-right:before {
      right: 102%;
      left: auto;
  }
  .road-group > div:before{
    width: 55%;
    left: 102%;
  }
  .road-group-right > div:before{
    right: 102%;
    left: auto;
  }
}
@media (max-width: 991px){
  .fifth-section p {
    font-size: 20px;
  }
  .fourth-section .text-group  div p {
    font-size: 20px;
  }
  .upper-text-group div p {
    font-size: 20px;
  }
  .content-block-fourth p {
      font-size: 20px;

  }
  .article-section div p {
    font-size: 23px;
}
.menudivider2 {
  max-width: 48%;
}
.road-group {
    width: 90%;
}
.road-group:before {
    display: none;
}
.road-group-right:before {
    display: none;
}
.road-group > div:before{
  display: none;
}
.road-group-right > div:before{
  display: none;
}
.vertical-line {
  display: none;
}
.adaptcolumn {
  display: none;
}
.block-column {
  margin-bottom: 50px;
}
}
@media (min-width: 768px) and (max-width: 991px) {

  .adapt_text_team1 {
    font-size: 36px;
  }
  .ic{
    max-width: 5em;
    max-height: 5em;
  }
  .answer {
    font-size: 18px;
  }
  .question {
    font-size: 24px;
  }
  .second-section {
    padding: 1.25em 5.5em 5em 5.5em;
  }
.article-section div {
  margin: 1em 40px 1em 70px;
  max-width: 60%;
  width: 60%;
}
  .flex1 {
      flex-wrap: wrap;
  }
  .flex1:after {
    content:'';
   width:100%;
   order:0;
  }
  .splide__slide p:nth-child(3){font-size: 18px;}
  .splide__slide p:nth-child(2){font-size: 18px;}
  .splide__slide p:nth-child(4), .splide__slide p:nth-child(5){font-size: 16px;}
.third-section .group3 {
margin-top: 0;
}
.group-fourth {
  max-width: 500px;
  justify-content: space-around;
}
.content-block-fourth {
padding:2em 0.5em 2em 0.5em;
margin-bottom: 2em;
}
.faq {
width: 600px;
}

}
@media (max-width: 490px)  {
  .main_background {
    background: url(image/background1.png);
  }
}
