.faq {
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.textfaq{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
}
.title {
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
}

.content {
    width: 100%;
}

.group {
    border-bottom: 1px solid #E8E8EA;
    padding-top: 19px;
    font-size: 13px;
}

.group:first-child {
    padding-top: 0;
}

.question-div {
    padding-bottom: 19px;
    transition: color 0.1s linear;
    color: #FFEBCD;
}

.question-div:hover {
    cursor: pointer;
    color: #F47B56;
}

.question {
    position: relative;
    font-size: 32px;
}

.question::after {
    content: '';
    position: absolute;
    top: calc(50% - 3.5px);
    right: 10px;
    width: 10px;
    height: 7px;
    background: no-repeat url(image/icon-arrow-down.svg);
    transition: 0.3s linear;
}

.selected {
    font-weight: 500;
}

.selected::after {
    transform: rotateZ(-180deg);
}

.answer {
    display: none;
    width: 100%;
    color: #FFFFFF;
    line-height: 1.3em;
    font-size: 24px;
}

.display-answer {
    display: flex;
    align-items: center;
    animation: 0.4s linear forwards displayAnswer;
    margin: auto;
}

.remove-answer {
    height: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    animation: 0.4s linear forwards removeAnswer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
    .faq-bg {
        flex-direction: row;
        align-items: unset;
        border-radius: 23px;
        width: 920px;
        height: 509px;
    }
    .illustration {
        top: 0;
        left: 0;
        height: 509px;
        width: 389px;
    }
    .main-illustration {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 509px;
        width: 391px;
    }
    .faq {
        width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    .group {
        padding-top: 19px;
        font-size: 14px;
    }
}

@keyframes displayAnswer {
    0% {
        height: 0;
        margin-bottom: 19px;
        opacity: 0;
    }
    60% {
        opacity: 0;
        color: #F47B56;
    }
    90% {
        color: #F47B56;
    }
    100% {
        height: 40px;
        margin: 13px 0;
        opacity: 1;
    }
}

@keyframes removeAnswer {
    0% {
        height: 40px;
        margin: 13px 0;
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        height: 0;
        margin: 0 0 19px 0;
        opacity: 0;
    }
}
