@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
*,*:before, *:after {
  -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.text {font-family: 'Roboto', sans-serif;font-weight: 100;font-style: normal;color: #FFF;}
.fw300{font-weight: 300;}
.fw500{font-weight: 500;}
ul {
  list-style: none;
}
a{
    text-decoration: none;
    color: #EAEAEA;
    transition: .5s;
}

canvas{
  background-image: linear-gradient(
  50deg,
  hsl(245deg 14% 30%) 0%,
  hsl(247deg 15% 31%) 13%,
  hsl(249deg 16% 31%) 19%,
  hsl(251deg 17% 32%) 24%,
  hsl(252deg 18% 32%) 28%,
  hsl(254deg 18% 32%) 32%,
  hsl(256deg 19% 33%) 35%,
  hsl(258deg 20% 33%) 39%,
  hsl(260deg 21% 34%) 42%,
  hsl(262deg 21% 34%) 45%,
  hsl(264deg 22% 34%) 48%,
  hsl(265deg 23% 35%) 52%,
  hsl(267deg 23% 35%) 55%,
  hsl(269deg 24% 35%) 58%,
  hsl(271deg 25% 36%) 61%,
  hsl(273deg 25% 36%) 65%,
  hsl(275deg 26% 36%) 68%,
  hsl(277deg 27% 36%) 72%,
  hsl(280deg 27% 37%) 76%,
  hsl(282deg 28% 37%) 81%,
  hsl(284deg 28% 37%) 87%,
  hsl(286deg 29% 37%) 100%
);
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2{
    font-size: 28px;
    padding: 1em 0 0.3em 0;
}

.divider{
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg,#FFFFFF , #706467);
}

.menu-btn a:hover{color: #7EAFD3;}
.logo{width: 50px;height: 50px; opacity: 60%;}
.menudivider2 {
position: relative;
z-index: 100;
text-align: center;
justify-content: center;
align-items: center;
left: 50%;
transform: translate(-50%);
width: 25%;
height: 2px;
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
animation: lineH 3s 2s  infinite alternate;
opacity: 30%;
}
.menu{
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em .5em;
    z-index: 999;
}
.menu-btn{
    display: block;
    text-align: center;
    height: 40px;
    margin: 0 10px;
}

.menu-btn a{font-size: 24px;}
.slogan{max-width: 16em;font-size: 32px;text-align: center;z-index: 1;}
header{
    width: 100%;
    height: 0;
    position: relative;
    top: 0;
}
.first-section{height: 100vh;max-width: 100%;}
.first-section div{font-size: 48px;color: #7EAFD3;z-index: 1;}
.first-section span{font-size: 32px;}


.btn-first-section{
    border: 2px solid #C5E3EA;
    font-size: 1.6rem;
    margin: 60px;
    border-radius: 12px;
    transition: .5s;
    cursor: pointer;
    padding: 0.3em 1.5em;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 125, 215, 0);
    z-index: 999;
}
.btn-first-section:hover{background-color: #61859b;}
.second-section{background-color: #363546;padding: 8.25em 5.5em;}
.article-section{display: flex;justify-content: center;max-width: 1280px;}

.article-section div{
    width: 40%;
    max-width: 40%;
    margin: 2.75em 40px 40px 70px;
    height: 320px;
}

.article-section div h2{font-size: 32px;margin-bottom: 15px;}
.article-section div p{font-size: 20px}
.btn-section{display: flex;justify-content: right;}
.btn-section div{display: flex;justify-content: space-around;}

.btn-section div span{
    white-space: nowrap;
    margin: 40px 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em 1em;
    font-size: 18px;
    height: 40px;
    border: 2px solid #C5E3EA;
    border-radius: 12px;
    transition: .5s;
    cursor: pointer;
    background-color: rgba(0, 125, 215, 0);
}

.btn-section div span:hover{background-color: #7dacc8;}

.third-section{
    background-color: rgba(0, 125, 215, 0);
    position: relative;
    z-index: 1;
    padding-bottom: 0.5em;
}

.adapttext {
  text-align: center;
  max-width: 80%;
}
.third-section {display: flex;margin-top: 3em;justify-content: space-between;}
.third-section p{font-size: 22px;}
.content-block-third{display: flex;padding: 3em;}
.text-section{padding: 0.5em 2em;}
.group3 {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.content-block-third div h3{
    font-size: 28px;
    color: #ffcc99;
    font-weight: 500;
    padding: 0 0 1em 0;
}

.anim-divided-line{
    position: absolute;
    top: 67%;
    left: 31%;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 1000px;
    height: 2px;
    background: radial-gradient(#FFD1AF, #A5BCE7);
    animation: lineH 2s 1s infinite alternate;
}
.divider2 {
  width: 40%;
  height: 2px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  animation: lineH 2s 1s  infinite alternate;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@keyframes lineH{
    0%{

        background-position: 0;
        opacity: 0;
    }

    100%{

        background-position: 999px;
        opacity: 1;
    }
}

.fourth-section{background-color: rgba(0, 125, 215, 0);position: relative;z-index: 0;}
.group-fourth{display: flex;justify-content: space-between;margin-bottom: 100px;}

.content-block-fourth{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #C5E3EA;
    border-radius: 45px;
    padding: 1.5em 1.5em 3em 1.5em;
    margin: 0 1em;
    background: linear-gradient(rgba(255, 255, 255, .05), rgba(170, 175, 211, .05));
    transition: .7s;
}
.content-block-fourth:hover{background: linear-gradient(rgba(255, 255, 255, .15), rgba(170, 175, 211, .15));}
.content-block-fourth .icon{margin: 0 0 30px 0;}
.content-block-fourth h2{padding: 0;font-size: 24px;color: #ffcc99; text-align: center;}
.content-block-fourth p{padding: 1em 1.5em;}
.upper-text-group{display: flex;}
.text-group{padding: 0 2em 3em 2em;}


.image-container{
    padding: 5em 1em;
    display: flex;
    position: relative;
    align-items: flex-end;
}
.image-container div {
  max-width: 250px;
}
.ic {
max-width: 7em;
max-height: 7em;

}
.image-block{display: flex;flex-direction: column;align-items: center;}
.image-block img{transform: scale(0.7);}
.image-block2 {margin-right: 1.5em;}

.default-block{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background: linear-gradient(0deg,#7F668F , #C6AEBF);
    border-radius: 12px;
    z-index: 1;
}
#first_block{padding: 1em 1.2em;}
#second_block{padding: 2em 1.5em;}
#third_block{padding: 0.5em 1.3em;}

.block{
    height: 60px;
    padding: 15px 2.29em 0 2.29em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #494243;
    border-radius: 12px;
    margin-top: -15px;
    z-index: -1;
}
#block34{padding: 15px 2.1em 0 2.45em;}
#block35{padding: 15px 3.078em 0 3.078em;}

.fifth-section{background-color: rgba(0, 125, 215, 0);z-index: -1;}
.splide__slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #C5E3EA;
    background: linear-gradient(#17171782, #444444b5);
    padding: 1em .7em 0 .7em;
}
.splide__slide img{max-width: 90%;max-height: 50%;padding: 0 0 1em 0;}
.splide__slide div{text-align: center;}
.splide{padding: 8em 0;z-index: 0;}
.splide__slide p:nth-child(3){font-size: 24px;color: #7EAFD3;}
.splide__slide p:nth-child(2){font-size: 36px;text-align: center;}
.splide__slide p:nth-child(4), .splide__slide p:nth-child(5){text-align: center;padding: 0.5em 0.5em 0.3em 1em;}
.btn-default {border-width: 1px;}
.main_background {width: 100%;
  background-image: linear-gradient(
    235deg,
    hsl(245deg 14% 30%) 0%,
    hsl(247deg 15% 30%) 5%,
    hsl(249deg 15% 31%) 10%,
    hsl(251deg 16% 31%) 14%,
    hsl(253deg 17% 31%) 19%,
    hsl(254deg 17% 31%) 24%,
    hsl(256deg 18% 31%) 29%,
    hsl(258deg 18% 31%) 33%,
    hsl(260deg 19% 32%) 38%,
    hsl(262deg 19% 32%) 43%,
    hsl(264deg 20% 32%) 48%,
    hsl(266deg 20% 32%) 52%,
    hsl(268deg 21% 32%) 57%,
    hsl(270deg 21% 32%) 62%,
    hsl(271deg 22% 32%) 67%,
    hsl(273deg 22% 32%) 71%,
    hsl(275deg 23% 32%) 76%,
    hsl(277deg 23% 32%) 81%,
    hsl(280deg 24% 33%) 86%,
    hsl(282deg 24% 33%) 90%,
    hsl(284deg 25% 33%) 95%,
    hsl(286deg 25% 33%) 100%
  );
z-index: -5;}

.additional-section{background-color: #363546;}
.group-chains{display: flex;}
.group-chains div{margin: 1.5em 1.5em 2.3em 1.5em;}
.group-chains div img{width: 60px;height: 60px;}

footer{background-color: #463f4b;}
.foot-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-container div{padding: 2em;}
.foot-group-links a{padding: .5em;}
.foot-group-links a img{width: 32px; filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(20deg) brightness(103%) contrast(101%);transition: .2s;}
.foot-group-links a img:hover{filter: invert(73%) sepia(27%) saturate(551%) hue-rotate(165deg) brightness(90%) contrast(83%);}

.sixth-section {

    margin-top: 5em;
    margin-bottom: 5em
    box-sizing: border-box;
    max-width: 100%;


}

.adapttext {
  text-align: center;
  max-width: 80%;
  margin-bottom: 5em;
}
.third-section div {
  margin-bottom: 0;
}

.block-group {
  width: 1250px;
  max-width: 100%;
  margin: 0 auto;
}
.block-group-container {
  position: relative;
}

.block-colums {
  margin-bottom: 0;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.block-column {
  flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

.road-group {
      width: 436px;
      max-width: 100%;
      border-radius: 20px;
      border: 5px solid #ac48fb;
      padding: 40px;
      position: relative;
}
div[name="road-group-js"] {
  background-color: none;
}
.road-group:before {
    content: '';
    width: 52%;
    height: 15px;
    border-bottom: 1px solid #ac48fb;
    top: 50%;
    display: block;
    left: 407px;
    position: absolute;
}

.road-group > div:before {
    content: '';
    width: 50%;
    height: 50px;
    background: url(image/line-round.png) no-repeat right 0px;
    background-size: 29px 29px;
    top: 50%;
    display: block;
    left: 432px;
    position: absolute;
    z-index: 1;
}
.road-group:after {
    content: '';
    width: 57px;
    height: 57px;
    display: block;
    position: absolute;
    top: 35px;
    right: 25px;
    background: url(image/inprogress.png) no-repeat center;
}
.block-group-inner p {
  margin-bottom: 20px;
}
.number-group {
    font-size: 28px;
    font-family: 'Roboto';
    width: 80px;
    height: 80px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to right, #602afd 0%,#a454e7 100%);
    border: 16px solid #0d0720;
    position: absolute;
    top: -50px;
    left: 30px;
}
.stage {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Roboto';
    line-height: 30px;
}
.stage span {
    font-size: 14px;
    color: #fff !important;
    padding: 0 10px;
    background: #201938;
    display: inline-block;
    margin-left: 10px;
    height: 30px;
    border-radius: 15px;
    font-family: 'Roboto';
    font-weight: 400;
}
.block-group-inner ul li {
  margin-bottom: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 300;
}
.road-group li:before {
    content: '';
    background: #ac48fb;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: -2px;
}
.road-group-right:before {
    left: auto;
    right: 407px;
}
.road-group-right > div:before {
    left: auto;
    background: url(image/line-round.png) no-repeat left 0px;
    right: 430px;
}
.block-spacer {
  clear: both;
}
.vertical-line {
  position: absolute;
    top: 0;
    height: 100% !important;
    width: 1px;
    background: #ac48fb;
    left: 50%;
}
.vertical-line:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    background: url(image/line-round.png) no-repeat center;
    display: block;
    top: -15px;
    left: -15px;
}
.vertical-line:after {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    background: url(image/line-round.png) no-repeat center;
    display: block;
    bottom: -15px;
    left: -15px;
}
